var jayson = require('jayson');

// create an array of injected services
var services = [
{% for injectedService in microlib_injected_services %}
  function(args) {
    return jayson.client.http({
      host: process.env.MICROLIB_SERVICE_HOST,
      port: process.env.MICROLIB_SERVICE_PORT
    }).request("{{ injectedService }}", args, function(err, response) {
      return response.result;
    });
  },
{% endfor %}
];

// create the current service
var server = jayson.server({
  {{ microlib_service_name }} : function(args, callback) {
    ({{ microlib_service_function  }})(services, args, callback);
  }
});

server.http().listen( process.env.MICROLIB_SERVICE_PORT );
